.backliste {
    background-image: url("../../../public/images/backliste.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    padding-top: 30%;
    padding-right: 50px;
    color: #fff;
    text-align: center;
  }

  .super-admin-button {
    background-color: red;
    color: white; /* Pour changer la couleur du texte en blanc */
  }
  
  .admin-button {
    background-color: blue;
    color: white;
  }
  
  .user-button {
    background-color: green;
    color: white;
  }
  